.video-thumbnail img {
  width: 100%;
  display: block;
  border-radius: 5px;
  
}

.video-title {
  /* position: absolute; */
  /* font-size: 1.2rem; */
  /* font-weight: 700; */
  font-style: italic;
  text-align: center
}

.username {
  position: absolute;
  bottom: 5px;
  left: 20px;
  background-color: black;
  color:white;
}

.username a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 2px 8px;
}

.img-thumbnail {
  margin-bottom: 30px;
}